<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Register</title>

    <!-- Font Icon -->
    

    <!-- Main css -->
    <link rel="stylesheet" href="css/register.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" action="/register">
                        
                        <h2 class="form-title">Create account</h2>
                        <p class="error"><%= message %></p>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name"  placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="address" placeholder="Your Address"/>
                        </div>
                       
                        <div class="form-group">
                            <input type="email" class="form-input" name="email"  placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-input" name="phone"  placeholder="Your Phone"/>
                        </div>
                        <div class="form-group">
                            <input class="form-input" name="dob"  placeholder="Your Date Of Birth"  type="text" onfocus="(this.type='date')" >
                        </div>
                        <div class="form-group">
                        <div class="form-group">
                            <input type="number" class="form-input" name="account"  placeholder="Your Account Number"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="password" id="password" placeholder="Password"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password"/>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? <a href="/" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    
</body>
</html>
