<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/transfer.css">
    <title>Tranfer</title>
</head>
<body>
    <nav>

        <div class="li"> <li>   <a class="nav_links" href="/dashboard"> Home</a> </li>
            <li>   <a class="nav_links" href="/">Logout </a></li>
        </div>
       
    </nav>

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Enter Bank Details</h2>
                </div>
                <div class="card-body">
                    <p class="error"><%= error %> </p>
                    <form method="POST" action="/transfer">
                        <div class="form-row">
                            <div class="name">Account Number</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number"  name='account'required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Re-enter Account Number</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name='re_account' required >
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Recipient name</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text"  required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Enter Amount</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number"   name='amount'required>
                                </div>
                            </div>
                        </div>
                        <div class="button">
                            <button >Send</button>
                            
                            </div>
                           
                        
                   </div>
                  
                    </form>
                </div>
            </div>
        </div>
   



</div>

    
</body>
</html>