<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/withdrawl.css">
    <title>Document</title>
</head>
<body>
    <nav>

        <div class="li"> <li>   <a class="nav_links" href="/dashboard"> Home</a> </li>
            <li>   <a class="nav_links" href="/">Logout </a></li>
        </div>
      
    </nav>
    <form action="/withdrawl" method="post">
        
    <div class="main_box">
   <div class="inside_box">
    <p class="error"><%= message %></p>
            <div class="amount_area">
                <div class="text_zone">Enter Your Withdrawl Amount </div>
                <div class="amount_zone"><input class="input--style-5" type="number"  placeholder='Enter Your Amount ' name="withdrawl"><span>₹</span></div>
            </div>
            <div class="button_area">
                    <a class='button'href="/dashboard"><<</a>
                    <button>✔</button>
                   
            </div>
           

        </div>
    </div>
</form>
</body>
</html>
