* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav {
  display: flex;
  color: black;
  justify-content: flex-end;
  height: 80px;
  background-image: linear-gradient(
    135.9deg,
    rgba(109, 25, 252, 1) 16.4%,
    rgba(125, 31, 165, 1) 56.1%
  );
  align-items: center;
}

.nav_links {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  padding: 5px;
  margin: 0px 25px;
}
.li {
  display: flex;
  list-style: none;
}
.space{
  margin:0px 20px;
}
.btt_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
@media(max-width:600px){
  .btt_middle {
    flex-direction: column;
            white-space: nowrap;

  }
}
.greenn {
  background-image: linear-gradient(
    to right,
    #00ff73 0%,
    #00ff22 51%,
    #51ff00e7 100%
  );
  border-radius: 10px;
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.greenn:hover{
  transform: scale(0.9);
}
.aaa {
  font-size: 0.9rem;
  color: white;
  border-radius: 10px;
}
.nav_links:hover {
  color: rgb(54, 233, 84);
  cursor: pointer;
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}
.wrapperr {
  margin: 50px;
}

.form-row {
  display: flex;

  flex-wrap: wrap;

  align-items: center;
  margin-bottom: 40px;
}

.form-row .name {
  width: 125px;
  color: #555;
  font-size: 15px;
  font-weight: 700;
}

.form-row .value {
  width: calc(100% - 125px);
}

@media (max-width: 767px) {
  .form-row {
    display: block;
  }
  .form-row .name,
  .form-row .value {
    display: block;
    width: 100%;
  }
  .form-row .name {
    margin-bottom: 7px;
  }
}

.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', 'Arial', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h2 {
  font-weight: 400;
  font-size: 10px;
}

.bg-gra-03 {
  background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
}

.p-t-45 {
  padding-top: 45px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.wrapper {
  margin: 0 auto;
}

.wrapper--w790 {
  max-width: 790px;
}

input {
  outline: none;
  margin: 0;
  border: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}
button{
  margin: 0px auto;
}

.input--style-5 {
  background: #e5e5e5;
  line-height: 50px;
  border-radius: 5px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.input-group {
  position: relative;
  margin: 0;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-5 {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-5 .card-heading {
  padding: 20px 0;
  background: #1a1a1a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.space:hover{
 transform:scale(0.9);
}

.card-5 {
  margin: 0px 10px;
}
.card-5 .card-body {
  padding: 52px 85px;
  padding-bottom: 73px;
}

@media (max-width: 767px) {
  .card-5 .card-body {
    padding: 40px 30px;
    padding-bottom: 50px;
  }
}
.button {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-image: linear-gradient(
    to right,
    #00ff73 0%,
    #00ff22 51%,
    #51ff00e7 100%
  );
}
.green,
.red {
  width: 150px;
  height: 50px;
}
.green:hover,
.red:hover {
  transform: scale(1.1);
}

button {
  background-image: linear-gradient(
    to right,
    #ff0000 0%,
    #ff0037 51%,
    #ff006ae7 100%
  );
}

button {
  margin: 0px auto;
  margin: 10px;
  padding: 12px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-position: right center;
  color: #fff;
  transform: scale(0.85);
}

a {
  text-decoration: none;
}
.del-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  z-index: 2;
  border: 1px solid rgb(211, 208, 208);
  opacity: 0;
  pointer-events: none;
}
.pop {
  opacity: 1;
  pointer-events: all;
}
.ptext {
  color: black;
  padding: 20px;
}
.ptext p {
  text-align: center;
  font-size: 1rem;
}
.btn {
  display: flex;
}
.blur {
  filter: blur(0px);
}
