*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

nav{
   display: flex;
   color: black;
   justify-content:flex-end;
   height: 80px;
   background-image: linear-gradient( 135.9deg,  rgba(109,25,252,1) 16.4%, rgba(125,31,165,1) 56.1% );
   align-items:center;
}




.nav_links{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding: 5px;
    margin: 0px 25px;
}
.li{
display: flex;
list-style: none;
}
.nav_links:hover{
    color: rgb(47, 241, 209) ;
    cursor: pointer;
}


.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 18px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media(max-width:900px){
    .fl-table{
        display: flex;
        flex-direction: column;
    }
   
 thead tr{ display: flex;
    flex-direction: column;
    

 }
 tbody tr{
    display: flex;
    flex-direction: column;
    
 }
 /*tbody tr td{
     
 }*/
        
 #date{
         overflow: hidden;
         padding: 0px 5px;
    
 }       
    
}
.button{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 0px auto;

}

button {background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%)}
button {
   margin: 10px;
   padding: 12px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   outline: none;
   border:none;

 }

 .button:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }
